@use "../../styleConfig/config"
$main-color-1: #9747FF
$main-color-2:#6B77EA
$sub-color-1: #4e4e4e

#contact
    display: flex
    flex: row nowrap
    justify-content: center
    font-family: config.$font-fam
    background-image: url('/web-profile-angular-demo/image/bg-sunset.png') // deploy with repo name 'web-profile-angular-demo' as base-href
    background-position: 5px
    object-fit: none
    color: #d1d8ff

    @media only screen and (max-width: config.$large)
        background-position: 45% 
    @media only screen and (max-width: config.$small-xs)
        background-position: 45% -100px

    // img
    //     position: absolute
    //     transform: scale(1.2,1.2)
    //     right: -50px
    //     object-fit: cover
    //     width: 100vw
    //     height: 100vh
    //     z-index: -1

    .contact-component
        display: flex
        flex-direction: column
        align-items: center
        padding: 0 20em
        border-radius: 50%
        backdrop-filter: blur(3px)

        @media only screen and (max-width: config.$large)
            padding: 0
            backdrop-filter: none
        .text
            margin-top: 20vmin
            font-weight: 800
            font-size: 2.6em
            color: #bac1ff
            @media only screen and (max-width: config.$small-xs)
                font-size: 1.5em
        a
            margin-top: 15vmin 
            margin-bottom: 45vmin
            width: 10em
            font-size: 1.3em
            @media only screen and (max-width: config.$small-xs)
                font-size: 0.8em
        .credit
            display: flex
            flex-direction: column
            align-items: center
            p
                margin-bottom: 1.5em
            
            @media only screen and (max-width: config.$small-xs)
                font-size: 0.8em

//border: 2px solid black