$font-fam: Arial, Helvetica, sans-serif
$main-color-1: #9747FF
$main-color-2:#6B77EA
$sub-color-1: #4e4e4e

#contact
    display: flex
    flex: row nowrap
    justify-content: center
    font-family: $font-fam
    background-color: #FFFDF6
    .contact-component
        display: flex
        flex-direction: column
        align-items: center
        .text
            margin-top: 20vmin
            font-weight: 800
            font-size: 2.6em
            color: $main-color-2
        .popbtn
            margin-top: 15vmin 
            margin-bottom: 40vmin 
            width: 10em
            font-size: 1.3em

        .credit
            display: flex
            flex-direction: column
            align-items: center
            p
                margin-bottom: 1.5em

//border: 2px solid black