@use "../../../styleConfig/config"
$profile-h: 40em
$profile-w: 100vw


#preview
    @media only screen and (max-width: config.$full)
        visibility: hidden
    position: absolute
    width: $profile-w
    height: calc($profile-h + 10rem)
    background-color: #18745F
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    transition: height 1s ease
    color: #ffffff
    z-index: 1
    div
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        margin-bottom: 3em
        .name,.position
            font-size: 2em
        .text
            font-size: 1.3em
            margin: 0.25em
            padding: 0.25em
            border-bottom: 2px solid #ffffff
    .button
        color: #535fc2
        font-size: 1em
        background-color: #ffffffcb
        border: 0 solid #ffffff
        border-radius: 0.35em
        padding: 0.5em 1em
        margin-top: 2em

#profile
    display: grid
    grid-template-columns: auto auto auto
    font-family: config.$font-fam
    background-image: linear-gradient(#FFB3B3, #D3C9FF, #BAC4FF, #F1D8F2)

    @media only screen and (max-width: config.$large)
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

    .profile-info
        position: relative
        grid-column: 1/ span 1
        display: flex
        flex-direction: column
        padding: 6rem 2rem 3rem 6rem
        width: 25em
        height: $profile-h
        background: linear-gradient(130deg, #ffdfb3 10%,#e6e0ff 30%, #ffffff00 55%), linear-gradient(320deg, #d18eb3 10%,#e6e0ff 30%, #ffffff00 55%), linear-gradient(40deg, #b0cf93 30%,#e6e0ff 40%, #ffffff00 55%),linear-gradient(220deg, #a588c7 30%,#e6e0ff 40%, #ffffff00 55%)
        box-shadow: 7px 0 18px #b871716e
        // linear-gradient(130deg, #FFB3B3 10%, #ffffff00 55%), 
        // linear-gradient(120deg, #49005d 5%, #ffffff00 55%), 
        // linear-gradient(250deg, #eeaf61 5%, #ffffff00 55%), 
        // linear-gradient(360deg, #e6e0ff 10%, #ffffff00 55%)
        // linear-gradient(360deg, #d18eb3 10%, #ffffff00 55%)

        animation: toRight 1.5s ease-in-out
        @keyframes toRight
            0%
                left: -35em
            100%
                left: 0

        @media only screen and (max-width: config.$large)
            border-radius: 1.5em
            box-shadow: -7px 4px 18px #7651898e
            padding: 6rem 0 3rem 0
            height: auto
            width: 30em
        @media only screen and (max-width: config.$small-xs)
            width: auto
        
        .profile-pic
            display: flex
            max-width: 25em
            max-height: 14em
            margin: 1em auto
            padding: 1em
            justify-content: center

        img
            width: 14em
            height: 14em
            object-fit: cover
            border-radius: 15%

        article
            padding: 0 3rem
            .name
                color: #6B77EA
                font-size: 28px
                font-weight: 700
            .position
                margin: 0.5em 0 1.7em 0
                font-size: 18px
                font-weight: 600
                color: #675fb6a9
            .description
                color: #594c70

    .menu-profile
        padding: 2em 0
        display: grid
        grid-template-columns: auto auto
        grid-template-rows: 30px 30px 30px 
        list-style-type: none
        font-size: 14px
        font-weight: 700

        li
            display: flex
            flex-flow: row wrap
            align-content: center
            justify-content: center
            border-radius: 0.3em 
            margin: 0.2em
            &:hover
                background-color: #6B77EA
                p
                    color: #cdd0ed

        @media only screen and (max-width: config.$middle-xs)
            display: flex
            flex-direction: row
            justify-content: center
            width: 100vw
            overflow: scroll
            &::-webkit-scrollbar
                width: 0
            &::-webkit-scrollbar-track
                background: none
            li
                white-space: nowrap
                block-size: fit-content
                margin: 5em 0.5em 0 0.5em
                padding: 0.5em
                border-radius: 0.3em
                background-color: #ffffff8e
                color: #6b588f
                &:hover
                    background-color: #6B77EA
                    p
                        color: #cdd0ed

    .category
        grid-column: 2/ span 2
        margin: 3rem 0 3rem 5vmax
        @media only screen and (max-width: config.$middle-xs)
            margin: 1rem 0 5rem 5vmin


//border: 2px solid black