@use "../../../styleConfig/config"
$main-color-1: #9747FF
$main-color-3:#C79CFF

#skill
    padding: 6em 0 0 5vmin
    width: 55vmax
    font-family: config.$font-fam

    @media only screen and (max-width: config.$large)
        padding: 0
        width: 80vw

    .subject
        font-size: 2em
        font-weight: 700
        color: $main-color-1
        text-shadow: 1.5px 1.5px 2px $main-color-3
        border-left: 5px solid 
        border-image: linear-gradient(to bottom,#5705c1, #bb82ea, #f5a5e3) 1 round
        padding-left: 0.6em
    .tool-list
        display: flex
        flex-direction: row
        flex-wrap: wrap
        gap: 1.5em
        margin-top: 3em

        @media only screen and (max-width: config.$small)
            justify-content: center

        .tool-item
            display: flex
            flex-direction: column
            align-items: center

            @media only screen and (max-width: config.$small)
                margin: 0.2em
                
            .tool-logo
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                background-color: #ffffff
                border-radius: 100%
                padding: 2em
                width: 2.5em
                height: 2.5em

                @media only screen and (max-width: config.$small)
                    width: 1.5em
                    height: 1.5em
                    padding: 1.2em
            img
                width: 150%
                height: 150%
            .tool-name
                margin-top: 1em

        

//border: 2px solid black