$sub-color-1: #4e4e4e
// $hl-theme1: linear-gradient(to bottom,#5705c1, #bb82ea, #f5a5e3)

#pop-btn
    .btn
        position: absolute
        padding: 1em 2em
        font-size: 1.1em
        border: 2px solid $sub-color-1
        border-radius: 0.25em
        transition: transform 0.12s
        z-index: 2
        a
            color: #2e2e2e
            text-decoration: none
        &:hover
            transform: translate(-8px,-8px)
    .backgnd
        position: absolute
        padding: 1em 2em
        font-size: 1.1em
        border-radius: 0.25em
        z-index: 1
        p
            visibility: hidden


//border: 2px solid black