@use "../../styleConfig/config"
$font-color-1: #f6eef4
$font-color-tag: #1a5a68
$des-backgroud-lin: linear-gradient(0.35turn,#9ec0bc, #697b9b, #eabfe1)
$hl-theme1: linear-gradient(to bottom,#5705c1, #bb82ea, #f5a5e3)
$main-color-1: #9747FF
$main-color-2:#6B77EA
$main-color-3:#C79CFF
$sub-color-1: #4e4e4e

#project
    display: flex
    flex-direction: column
    height: 100%
    box-shadow: 0 -3px 10px #b5b5b5
    font-family: config.$font-fam
    animation: bgShift 12s ease-in-out infinite
    background: linear-gradient(20deg,#74a7eeee 5%,#c5b1df 15%,#efb7b2d6 25%, #f3ebdea1 35%, #ffffff00),linear-gradient(170deg,#74a7eed6 10%,#c5b1dfd6 25%,#efb7b2d6 35%, #f3ebdea1 45%, #ffffff00),linear-gradient(290deg,#74a7eed6 10%,#c5b1dfd6 25%,#efb7b2d6 35%, #f3ebdea1 45%, #ffffff00)
    background-size: 400% 400%

    @keyframes bgShift
        0%
            background-position: 0% 80%
        25%
            background-position: 0% 10%
        50%
            background-position: 70% 30%
        75%
            background-position: 100% 0%
        100%
            background-position: 0% 80%
    .project-component
        margin: 5vw 10vw

        @media only screen and (max-width: config.$small)
            margin: 7vw 5vw

        .subject
            font-size: 2em
            font-weight: 700
            color: $main-color-1
            text-shadow: 1.5px 1.5px 2px $main-color-3
            border-left: 5px solid 
            border-image: $hl-theme1 1 round
            padding-left: 0.6em
            margin: 5vw 0

            @media only screen and (max-width: config.$small)
                margin: 10vw 0
                font-size: 1.6em

        .view-more
            display: flex
            flex: row wrap
            justify-content: center
            margin: 4em 0
            .popbtn
                width: 10em

            @media only screen and (max-width: config.$small)
                font-size: 0.8em

        .project-item
            position: relative
            display: flex
            flex-direction: row
            justify-content: space-around
            padding: 1.3em
            background-color: #ffffff66
            box-shadow: 0 0 8px #dbb5b55b
            border-radius: 1em

            @media only screen and (max-width: config.$small)
                padding: 0.6em

            .proj-img
                display: flex
                align-content: center
                margin-right: 1em
                border-radius: 1em
                &:hover
                    background-image: linear-gradient(to bottom,#5605c171, #bb82ea71, #f5a5e371)

                @media only screen and (max-width: config.$small)
                    margin: 0

            img
                border-radius: 1em
                align-self: center
                width: 20vw
                height: 20vw
                object-fit: cover
                opacity: 0.4
                filter: grayscale(1)
                &:hover
                    filter: grayscale(0)
                    opacity: 1
                    object-fit: contain
            .project-info
                position: relative
                .proj-header
                    display: flex
                    flex-direction: row
                    justify-content: space-between
                    .proj-link
                        display: flex
                        flex-direction: row
                        font-size: 1.5em
                        padding-right: 1.2em
                        a
                            color: #9313e8b0
                            text-decoration: none
                            margin-left: 1em
                            align-content: center
                            &:hover
                                color: #6e08b2

                        @media only screen and (max-width: config.$small)
                            font-size: 20px
                            padding-right: 0.5em

                    .proj-name
                        color: $main-color-2
                        font-size: 2.1em
                        font-weight: 700
                        margin: 0.5em 0

                        @media only screen and (max-width: config.$middle)
                            font-size: 1.8em
                        @media only screen and (max-width: config.$small)
                            font-size: 24px
                .proj-des
                    display: flex
                    flex-direction: column
                    justify-content: space-between
                    padding: 1.5em
                    // height: 25vmin
                    border-radius: 0.5em
                    background-image: $des-backgroud-lin
                    overflow: auto
                    > p
                        color: $font-color-1
                    .tools
                        font-size: 0.8em
                        margin: 1em 0
                        font-weight: 600
                        max-width: 90em
                        display: flex
                        flex-flow: row wrap
                        p
                            margin: 0.5em
                            padding: 0.5em
                            background-color: #ffffff80
                            color: $font-color-tag
                            border-radius: 0.25em

    @media only screen and (max-width: config.$middle)
        .proj-img
            visibility: hidden
            width: 0

    @media only screen and ( min-width: config.$middle)
        .proj-des
            height: 25vmin


//border: 2px solid black