<section id="project">
  <app-fade-box class="project-component">
    <p class="subject">Built up projects</p>
    <div class="project-list">
      <section class="project-item">
        <div class="proj-img">
          <img
            src="image/little-lemon-project-web.png"
            alt="little-lemon-project-web.png"
          />
        </div>
        <div class="proj-img">
          <img
            src="image/little-lemon-project-mb.jpg"
            alt="little-lemon-project-mb.jpg"
          />
        </div>
        <section class="project-info">
          <section class="proj-header">
            <p class="proj-name">Little Lemon</p>
            <div class="proj-link">
              <a
                href="https://github.com/SumittaBungsud/meta-frontend-littlelemon"
              >
                <fa-icon [icon]="faGithub" />
              </a>
              <a
                href="https://sumittabungsud.github.io/meta-frontend-littlelemon/"
              >
                <fa-icon [icon]="faLink"
              /></a>
            </div>
          </section>
          <section class="proj-des">
            <p class="description">
              This website was created for online food delivery and booking
              tables. Customers could more conveniently approach some restaurant
              services and follow up on recent promotions on the online
              platform.
            </p>
            <div class="tools">
              <p>React</p>
              <p>Figma</p>
              <p>JavaScript</p>
              <p>HTML</p>
              <p>CSS</p>
              <p>Jest</p>
            </div>
          </section>
        </section>
      </section>
      <div class="view-more">
        <app-popbtn class="popbtn" txt="View more" backgnd="#f3ebde" />
      </div>
    </div>
  </app-fade-box>
</section>
