<section class="home-page">
  <app-profile #profileBox />
  <app-project #projectBox />
  <app-contact #contactBox />
</section>

<section id="social-nav">
  @for (item of socials; track item.id) {
  <div class="icon">
    <a [href]="item.link">
      <fa-icon [icon]="item.icon" />
    </a>
  </div>
  }
</section>

<section id="track-nav">
  <ul>
    <li data-type="Profile-tracking">
      <p *ngIf="currentBox == 'Profile'">Profile</p>
      <div #profileTrack class="track-dot" title="Profile"></div>
    </li>
    <li data-type="Project-tracking">
      <p *ngIf="currentBox == 'Project'">Project</p>
      <div #projectTrack class="track-dot" title="Project"></div>
    </li>
    <li data-type="Contact-tracking">
      <p *ngIf="currentBox == 'Contact'">Contact</p>
      <div #contactTrack class="track-dot" title="Contact"></div>
    </li>
  </ul>
  <a
    *ngIf="currentBox == 'Contact'"
    href="#profile"
    class="toTop"
    title="scroll to top"
    ><fa-icon [icon]="faArrowUp"
  /></a>
</section>
