<section class="home-page">
  <app-fade-box>
    <app-profile />
    <app-project />
    <app-contact />
  </app-fade-box>
</section>

<section id="social-nav">
  @for (item of socials; track item.id) {
  <div class="icon">
    <a [href]="item.link">
      <fa-icon [icon]="item.icon" />
    </a>
  </div>
  }
</section>

<section #currentCom id="track-nav">
  <ul>
    <li *ngFor="let curr of homeSect">{{ curr.name }}</li>
  </ul>
  <button class="toTop" title="scroll to top">
    <a href="#profile"><fa-icon [icon]="faArrowUp" /></a>
  </button>
</section>
