<section id="nav" (window:resize)="onResize()">
  <nav class="nav-home">
    <div class="nav-home-logo" title="logo-image">
      <a class="button" routerLink="/">
        <img
          src="image/shirt-button-svgrepo-com.svg"
          width="50px"
          height="50px"
          draggable="false"
        />
      </a>
    </div>
    @if(win_middle_xs){
    <button
      class="nav-menu"
      (focusin)="isExpand = true"
      (focusout)="isExpand = false"
    >
      <fa-icon [icon]="faEllipsisV"></fa-icon>
    </button>
    <div class="nav-home-sec2" title="options" [class.hidden]="!isExpand">
      <a class="button" href="#project">Projects</a>
      <a class="button" href="#contact">Contact</a>
      <button>
        <a href="source/SUMITTA BUNGSUD-CV-Software-Engineer.pdf">Resume</a>
      </button>
    </div>
    }@else{
    <div class="nav-home-sec2" title="options">
      <a class="button" href="#project">Projects</a>
      <a class="button" href="#contact">Contact</a>
      <button>
        <a href="source/SUMITTA BUNGSUD-CV-Software-Engineer.pdf">Resume</a>
      </button>
    </div>
    }
  </nav>
</section>
