@use "../../styleConfig/config"

#nav
  position: fixed
  top: 0
  left: 0
  width: 100%
  font-family: config.$font-fam
  z-index: 20

button.nav-menu
  background: none
  border: none
  font-size: 1.7em
  margin: 0.5em 1em 0.5em auto
  color: config.$main-color-2

.nav-home
  display: flex
  justify-content: center
  flex-direction: row
  background-color: #ffffff
  box-shadow: 0px 2px 18px grey

.nav-home-logo
  flex: 8
  padding: 0.3em 3em

  @media screen and ( max-width: config.$middle-xs )
    padding: 0.3em 1.5em
    margin: auto 0.5em

.nav-home-sec2
  display: grid
  margin: 0.5em 5em 0.5em auto
  grid-gap: 50px
  grid-template-columns: auto auto auto
  justify-items: center

  @media screen and ( max-width: config.$middle-xs )
    position: absolute
    display: flex
    flex-direction: column
    background: #ffffff
    border-radius: 0.3em
    margin: 4.5em 0.5em 0 0
    padding: 0 0.5em
    grid-gap: 0
    right: 0

  a
    padding: 1.2em 0
    color: #424242ad
    &:hover
      color: #424242

  button
    padding: 1em 1.2em
    margin: 0.7em 0
    background-color: #6B77EA
    border: 0px
    border-radius: 5px
    a
      color: white

    &:hover
      background-color: #91a1ffd0

.nav-home-sec2.hidden
  visibility: hidden

//border: 2px solid black