$font-fam: Arial, Helvetica, sans-serif

#about
    margin-top: 6rem
    padding: 6em 0 0 6em
    max-width: 40vw
    position: relative
    font-family: $font-fam

    .subject
        font-size: 2em
        font-weight: 700
        color: #9747FF
        text-shadow: 1.5px 1.5px 2px #C79CFF
        border-left: 5px solid 
        border-image: linear-gradient(to bottom,#5705c1, #bb82ea, #f5a5e3) 1 round
        padding-left: 0.6em
    p
        font-size: 22px
