<div id="about">
  <p class="subject">About Me</p>
  <p>
    Hello! My name is Sumitta and I enjoy creating and learning new innovations
    or tools that make the life easier. I decided to jump in software
    development field since 2021 by building the first chat-bot application
    during an internship program and got an opportunity to be a part of the
    senior's IOT master project. These valuable experiences helped me familiar
    with many programming languages like Python, HTML, CSS, SQL, and etc.
    <br /><br />
    Currently, I'm an Associate Software Engineer at SS&C Technologies,
    troubleshooting and testing the code products delivering highly efficiency.
    Looks after variety innovations in each products to have performance
    consistency and appropriate running.
    <br /><br />
    I recently tried on the modern tools and frameworks extending my skill sets
    in UX/UI design, Algorithm, Data analyzes, Clean code structuring, and etc.
  </p>
  <button>Check out what I've found!</button>
</div>
