@use "../../../../styleConfig/config"

%exp-layout
    margin: 0.5em
    padding: 1.5em
    background-color: rgba(255, 255, 255, 0.4)
    border-radius: 1em
    display: flex
    flex-direction: row
    align-content: flex-start
    gap: 2em

    @media only screen and (max-width: config.$middle-xs)
        flex-direction: column

.exp-items
    font-family: config.$font-fam

    .work-item
        @extend %exp-layout

        &:hover
            background-color: #f9f9f9af

        .timeline
            min-width: fit-content
            font-size: 14px
            font-weight: 600
            color: #363636
        .company
            font-size: 20px
            margin-bottom: 0.5em
            font-weight: 600
            color: #6B77EA
        .position
            font-size: 17px
            margin-bottom: 0.75em
            font-weight: 600
            color: #ca639a
        .description
            font-size: 16px
            margin: 0.25em 1.5em

        ul
            list-style: '▹' outside
            li
                padding: 0.2em

    .edu-item
        @extend %exp-layout

        .timeline
            min-width: fit-content
            font-size: 14px
            font-weight: 600
            color: #363636
        .institute
            font-size: 20px
            margin-bottom: 0.5em
            font-weight: 600
            color: #6B77EA
        .degree
            font-size: 17px
            margin-bottom: 0.75em
            font-weight: 600
            color: #ca639a

//border: 2px solid black